.ellipsis-text {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*------------------------------- Card ---------------------------------*/
.posting-card {
  width: 1200px;
  max-width: 98%;
  min-width: 400px;
  background-color: var(--main-background-color);

  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
}

/*------------------------------- Info Section ---------------------------------*/

.posting-card-info-section {
  display: flex;
  flex-wrap: nowrap;
  align-items: top;

  width: 100%;
  height: 80px;
  margin: 0;

  position: relative;
  z-index: 1;
  box-shadow: 0 5px 4px -2px rgba(0,0,0,0.6);
  //background-color: Black;
}

.info-left-sections {
  width: 40%;
  height: 100%;
  padding: 12px;

  //border: 1px solid black;
}

.info-right-section {
  width: 20%;
  height: 100%;
  padding: 10px;
  //border: 1px solid black;
}

/*------------------------------- Icon Text Box ---------------------------------*/
.icon-text-box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  width: 100%;
  height: 50%;
}

.icon-text-box-icon {
  width: 25px;
  height: 25px;
}

.icon-text-box-text {
  margin-left: 12px;

  font-size: 16px;
  font-weight: 500;
}

/*------------------------------- Info Right Section ---------------------------------*/
.date-link-box {
  width: 100%;
  height: 20px;

  //border: 1px solid black;
}

.date-text {
  color: var(--highlight-color);
  font-size: 14px;
  text-align: right;
  margin: 0px;
}

.date-link-box a {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  text-decoration-color: var(--highlight-color);
}

.link-icon {
  height: 20px;
  width: 20px;
  margin-left: 4px;
}

.icons-box {
  display: flex;
  justify-content: flex-end;

  width: 100%;
  height: 40px;
  //border: 1px solid black;
}

.right-icon-div {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  margin-left: 8px;

  //border: 1px solid black;
}

.visa-icon {
  height: 30px;
  width: 30px;
}

.remote-icon {
  height: 30px;
  width: 30px;
}

/*------------------------------- Expandable ---------------------------------*/
.posting-card-expandable-section {
  background-color: var(--lighter-background-color);
}

.tool-box {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  //border: 1px solid black;

  width: 110px;
  height: 25px;
  margin-top: 5px;
}

.tool-box-icon {
  height: 25px;
  width: 25px;

  margin-left: 8px;

  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.tool-box-icon:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*------------------------------- Expanded Section ---------------------------------*/
.expanded-section {
  height: 100%;
  width: 100%;
}

/*------------------------------- Collapsed Section---------------------------------*/
.collapsed-section {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  width: 100%;
  padding-left: 12px;
  padding-right: 8px;
}

.first-line-text {
  font-size: 14px;
  line-height: 16px;

  width: 100%;
}

/*
.collapsed-break {
  width: 80px;
  line-height: 1px;
  height: 1px;
  border: 0;
  margin: 0 0 0 16px;
  border-bottom: 1px solid var(--highlight-color);
  text-align: left;
}
*/

