.posting-list {
	padding-top: 16px;
	padding-bottom: 16px;

	margin-left: auto;
	margin-right: auto;

	width: 90%;
	min-width: 350px;
	max-width: 1400px;
}

.bottom-box {
	width: 100%;
	text-align: center;
}

.loading-icon {
	color: var(--card-background-color);;
	margin-top: 25px;
}

.loading-icon.hide {
	display: none;
}

.eol-label {
	margin-top: 25px;
	font-size: 16px;
	font-weight: bold;
	color: var(--card-lighter-background-color);
}

.eol-label.hide {
	display: none;
}