@import url('https://fonts.googleapis.com/css?family=Comfortaa|Lato|Maven+Pro');

:root {
  --main-root-color: rgb(132, 140, 163);
  --card-background-color: rgb(37, 43, 57);
  --card-lighter-background-color: rgb(50, 58, 78);
  --main-text-color: rgb(195, 206, 227);
  --highlight-color: rgb(141, 196, 240);
}

/*-------------------------------------- css reset ------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Maven Pro', 'Lato', Helvetica, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-------------------------------------------- end reset -------------------------------*/

* {
  box-sizing: border-box;
  color: var(--main-text-color);
}

p {
  font-size: 16px;
  margin: 0;
}

.App {
  width: 100%;
  min-height: 100vh;
  background-color: var(--main-root-color);
}

.App-body {
  padding-top: 150px;
}

/*-------------------------------------- header -----------------------------*/
.App-header {
  width: 100%;
  height: 150px;
  background-color: var(--card-background-color);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.3);
}

.top-logo {
  margin-top: 16px;
  margin-bottom: 10px;
  font-size: 48px;
  line-height: 70px;
  font-weight: lighter;
  text-align: center;

  font-family: 'Comfortaa', 'Lato', Helvetica, sans-serif;
}

.more-filters-wrapper.hide {
  display: none;
}